<div class="bub" role="navigation">
<%= render 'index' %>
</div>

<div class="bub" role="article" id="content">

<p id="notice"><%= notice %></p>

<h2><%= @post.location %> - <%= @post.title %></h2>
<div><%= @post.date %></div>
<div><%= @post.content %></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>
